$font-size-of-sidenav: 20px;


html, body {
  height: 100%;
}
body {
  position: relative;
  background-color: white;
}

.container-fluid {
  height: 100%;
}
.row {
  height: 100%;
}
.col-3, .col-9 {
  height: 100%;
}

/* Style for the navigation bar */
.sidenav {
  background-color: white;
  height: 100%;
}
.sidenav ul {
  font-size: $font-size-of-sidenav;
  text-align: left;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  list-style-type: none;
  word-wrap: break-word;
}
.sidenavitem {
  font-family: monospace;
  color: black;
}
.sidenavitem a {
  text-decoration: none;
}
.sidenav ul :hover {
  font-size: 20px;
  text-decoration: none;
  color: darkgrey;
}

/* Style for single id */
#picture_container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#stockphoto {
  width: 100%;
}

/* Style of the text of the LPA */
.textcontainer_LPA {
  padding-top: 50px;
  margin-top: 10px;
  padding-left: 20%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/*Styling the tables in the biography.html */
.table-container {
  padding-top: 10%;
  width: 100%;
  background-color: inherit;
  flex-wrap: wrap;
  word-wrap: break-word;
  position: relative;
  padding-left: 10%;
  padding-right: 10%;

}
.table-bio {
  border-collapse: separate;
  border-spacing: 50px 100px;
  word-wrap: break-word;
}
th {
  font-size: 30px;
  padding: 5px 5px 5px 5px;

}
td {
  text-align: left;
  word-wrap: break-word;

}

/* Styling media on the bibliography-page */

.large-screen {
  display: inline;
}

.small-screen {
  display: none;
}

@media screen and (max-width:600px) {
  .large-screen {
    display: none;
  }
.small-screen {
  display: inline;
}
}
